.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 1rem;
    border-radius: 0.25rem;
  }
.page-item {
  display: inline;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 2;
  color: white;
  cursor: default;
  background-color:  black;
  border-color: black;
}
.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
  color: #818a91;
  pointer-events: none;
  cursor: not-allowed;
  background-color: var(--tile-background);
  border-color: black;
}
.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: black;
  text-decoration: none;
  background-color: var(--tile-background);
  border: 1px solid black;
  cursor: pointer;
}
.page-link:focus,
.page-link:hover {
  color: white;
  background-color: black;
  border-color: black;
}